@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans-VariableFont_wght.ttf);
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #FFF;
}

body,
div {
  transform-style: preserve-3d;
}

.name {
    font-family: 'WorkSans';
    font-size: 250%;
    vertical-align: middle;
    color: white;
}

.links {
    position: absolute;
    margin-right: 90px;
    margin-top: 90px;
}
.links li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}
.links li a {
    font-size: 200%;
    color: white;
}

.icosahedron{
  transform-origin: center bottom;
  animation-name: icosahedron-animation;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes icosahedron-animation {
  0% {
    transform: rotateX(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(360deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateZ(360deg);
  }
}

.icosahedron {
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: 30px;
}

.connect,
.face {
  width: 30px;
  height: 25.980762113533px;
  position: absolute;
}

.face {
/*   outline: red solid 1px; */
}

.face-child {
  transform-origin: center bottom;
  animation-name: face-animation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
/*     animation: none; */
}

@keyframes face-animation {
  0% {
    transform: rotateX(0deg)
  }
  33% {
    transform: rotateX(0deg)
  }
  66% {
    transform: rotateX(41.89deg)
  }
  100% {
    transform: rotateX(41.89deg)
  }
}

.face > .triangle {
  position: absolute;
  bottom: 0;
  left: 0;
}

.triangle {
  width: 30px;
  height: 0px;
  border-bottom: solid 1px;
}

.triangle::before,
.triangle::after {
  content: "";
  display: block;
  width: 30px;
  height: 0px;
  border-bottom: solid 1px;
  position: absolute;
  top: 0;
  left: 0;
}

.triangle::before {
  transform-origin: left top;
  transform: rotateZ(-60deg);
}

.triangle::after {
  transform-origin: right top;
  transform: rotateZ(60deg);
}

.connect-left {
  left: 0;
  bottom: 0;
  transform-origin: left bottom;
  transform: rotateZ(-60deg);
}

.connect-right {
  right: 0;
  bottom: 0;
  transform-origin: right bottom;
  transform: rotateZ(60deg);
}

.connect-center {
  left: 0;
  bottom: 0;
  transform-origin: center bottom;
  transform: rotateZ(180deg);
}