body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E1E22;
  color: #AAA;
  font-family: monospace;
  flex-direction: column;
}

.profile h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end);
    -webkit-animation: typing 3.5s steps(30, end);
}
.profile__name {
    text-align: center;
    font-size: 250%;
    vertical-align: middle;
}
.profile__info {
    font-size: 200%;
}

.links ul {
    padding: 0;
    margin: 0;
}
.links li {
    list-style-type: none;
    display: inline;
    padding: 12px;
}
.links li a {
    font-size: 200%;
    color: #AAA;
}

xmp {
    white-space: unset;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 100% }
}